html, body{margin:0; padding:0;}

#site_conteiner{
	display: grid;
    grid-gap: 5px;
    grid-template-columns:1fr minmax(720px, 2fr) 1fr;
	grid-template-rows: 1fr;
}
#main_conteiner{
	background-color: red;
	height:1000px;
}

img{width:720px;}